.role-se{
    width: auto;
}
.vendor-user{
    font-size: 1vw;
}
@media (max-width: 655px ){
    .use-main{
      width: 500px;


    }
    .input-name{
        width: full;
    }
   
    .vendor-user{
        font-size: 3vw;

    }
    .role-title{
        font-size: vw;
    }
    .name-title{
        font-size: vw;
    }
    .phone-title{
        font-size: vw;
    }
    .email-title{
        font-size: vw;
    }
    .pas-title{
        font-size: vw;
    }
    .cls-btn{
        font-size: 4vw;
    }
    .crt-btn{
        font-size: 4vw;
    }
}