.super-admin-table{
  margin-top: 1px;
  width: 100%;
   border-collapse: separate;
border-spacing: 0px 20px;
background-color: rgb(234, 234, 234);

}


.table-title{
  font-size: 10px;
  font-weight: 100;
 
  
}
td{
  font-size: 10px;
}
.table-titles{


  
  


}
.clms{
  background-color: white;
  height: 6vw;
  box-shadow:0 5px 15px 0 rgb(129, 124, 124);

 padding-left: 13px;
 border-radius: 20px;



 
}
.clm{
  color: red;
  font-weight: 100;
}
.table-icon{
  width: px;
  height: 20px;
  font-size: large;
  padding-left: 9px;
}
.clm1{
  padding-left: 9px;
}
@media(max-width:599px){
  .table-title{
    font-size: 1.5vw;
    font-weight: 100;
  }
  .table-icon{
    width: px;
    height: 20px;
    font-size: 2vw;
    padding-left: 9px;
  }
}
